.header {
    background-color: #141414;
}

.navbar {
    padding: 0.5rem 1rem;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    list-style-type: none;
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    font-size: 1.1rem;
    transition: color 0.2s;
}

.navbar-nav .nav-link:hover {
    color: #e50914 !important;
}
