.search-bar {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.search-bar__group {
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.search-bar__input {
    flex: 1;
    padding: 10px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-bar__button {
    padding: 10px 20px;
    background-color: #e50914;
    border: none;
    color: #fff;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-bar__button:hover {
    background-color: #b81d24;
}
